<h1><%= t ".hi" %> <%= user_name %> <%= t ".thanks" %></h1>
<h3><%= t ".your_billing" %><%= hiring_id %></h3>
<p>
  <%= t ".your_vehicle" %>: <%= vehicle_name %>, 
</p>
<p>
  <%= t ".time" %>: <%= hiring_time %>H
</p>
<p>
  <%= t ".total" %>: <%= total %>H
</p>
<p>
  <%= t ".branch" %>: <%= branch_name %> <%= t ".to" %>
</p>
<p>
  <%= t ".created_at" %>: <%= created_at %> <%= t ".to" %>
</p>
