<div class="banner">
  <div class="app-text">
    <h1><%= t ".text1" %></h1>
    <p><%= t ".text2" %><br><%= t ".text3" %><br><%= t ".text4" %></p>
  </div>
  <div class="app-picture">
    <%= image_tag "banner.png" %>
  </div>
</div>
