<%= render "shared/search_form" %>
<table class="table table-bordered" id="table">
  <thead>
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".customer" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".order_at" %></th>
      <th><%= t ".edit" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @hirings %>
  </tbody>
</table>
<div id="hiring-modal">
</div>
