<div id="logo">
  <h3 id="front"><%= t ".logo" %></h3>
</div>
<div id="menu1">
  <ul class="root">
    <li><%= link_to t(".home"),admin_index_path %></li>
    <li><%= link_to t(".manage") %>
      <ul class= "submenu">
        <li><%= link_to t(".vehicles"), admin_vehicles_path %></li>
        <li><%= link_to t(".bills"), admin_hirings_path %></li>
        <li><%= link_to t(".branchs"), admin_branchs_path %></li>
      </ul>
    </li>
    <li><%= link_to t(".banner"), "#" %></li>
    <li><%= link_to t(".profile"), admin_user_path(current_user.id) %></li>
    <li><%= link_to t(".log_out"), logout_path, method: :delete, id: "logout-btn" %></li>
  </ul>
</div>
