<% if items.blank? %>
  <li>
    <%= link_to vehicle_path(params[:search]),
      class: "btn btn-default btn-block", id: "see-more" do %>
      <%= t ".no_result" %><%= params[:search] %>
    <% end %>
  </li>
<% else %>
  <div class="scrollable-menu">
    <%= render partial: "vehicles/search_vehicle" ,collection: items, as: :vehicle %>
  </div>
  <li class="divider"></li>
  <li>
    <%= link_to vehicles_path(params[:search]),
      class: "btn btn-default btn-block", id: "see-more" do %>
      <%= t ".see_more" %> <%= @vehicles.size %> <%= t ".for" %> <%= params[:search] %>
    <% end %>
  </li>
<% end %>
