<tr>
  <td><%= vehicle.category_name %></td>
  <td><%= vehicle.branch_name %></td>
  <td><%= vehicle.price %>$/H</td>
  <td><%= vehicle.description %></td>
  <td><%= link_to t(".edit"), edit_admin_vehicle_path(id: vehicle.id),
    class: "btn btn-primary" %></td>
  <td><%= link_to t(".delete"),admin_vehicle_path(vehicle), data: { confirm: t(".sure?")},
    method: :delete, remote: true, class: "btn btn-danger", id: "destroy-vehicle" %></td>
</tr>
