<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2><%= t ".list" %><%= @branch.name %></h2>
    </div>
    <div class="row">
      <% @vehicles.each do |vehicle| %>
        <div class="col-lg-4 col-md-6">
          <div class="categorie-item">
            <%= image_tag check_image vehicle %>
            <div class="ci-text">
              <h5><%= link_to vehicle.name, vehicle %></h5>
              <p><%= vehicle.description.truncate Settings.short_text %></p>
              <span><%= vehicle.price %>VND/H</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
