<div>
  <div class="vehicle-show">
    <%= image_tag @vehicle.picture.url if @vehicle.picture? %>
  </div>
  <center><%= link_to t(".book"), new_hiring_path(vehicle_id: @vehicle.id),
    class: "btn btn-primary"%></center>
  </div>
  <div class="container">
  <h2><%= @vehicle.name %></h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t ".category" %></th>
          <th><%= t ".branch" %></th>
          <th><%= t ".price" %></th>
          <th><%= t ".description" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @vehicle.category.name %></td>
          <td><%= @vehicle.branch.name %></td>
          <td><%= @vehicle.price %>$/H</td>
          <td><%= @vehicle.description %></td>
        </tr>
      </tbody>
    </table>
    <div id="comments">
      <% if logged_in? %>
        <%= form_for [@vehicle, @comment] do |f| %>
          <%= f.text_area :content, placeholder: t(".add"), id: "text_area" %><br/>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit t(".comment") %>
        <% end %>
      <% end %>
      <ul>
        <%= render partial: "comments/comment", collection: @vehicle.comments %>
      </ul>
    </div>
  </div>
</div>
