<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <%= image_tag @vehicle.picture.url, alt: "", id: "show-vehicle-img" %>
        <div class="col-lg-10 offset-lg-1">
          <div class="course-note"><%= t "status" %>: <%= t ".active" %></div>
          <h3><%= @vehicle.name %></h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="course-author">
                <div class="ca-pic set-bg" data-setbg="img/authors/2.jpg"></div>
                <h6><%= t ".branch" %></h6>
                <p><%= @vehicle.branch.name %></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6><%= t ".category" %></h6>
                <p><%= @vehicle.category.name %></p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6><%= t ".description" %></h6>
                <p><%= @vehicle.description %></p>
              </div>
            </div>
          </div>
            <a href="#" class="site-btn price-btn"><%= t ".price" %>: <%= @vehicle.price %></a>
            <%= link_to t(".book"), new_hiring_path(vehicle_id: @vehicle.id), class: "site-btn buy-btn", remote: true  %>
        </div>
      </div>
    </div>
  </div>
</section>
