<ul>
  <li class = "logo"><%= image_tag "logo.png" %></li>
  <li class = "active"><%= t ".home" %></li>
  <li><%= t ".product" %></li>
  <li><%= link_to t(".branch"), branchs_path %></li>
  <li><%= t ".about" %></li>
  <%= search_form_for(@search, url: vehicles_path) do |f| %>
    <%= f.search_field :name_cont, placeholder: t(".search"), class: "search-input", value: "" %>
    <%= f.submit t(".search"), class: "btn btn-primary" %>
  <% end %>
  <% if logged_in? %>
    <li><%= link_to t(".log_out"), logout_path, method: :delete,
      class: "signup-btn" %></li>
  <% else %>
    <li><%= link_to t(".login"), login_path %></li>
    <li><%= link_to t(".sign_up"), signup_path, class: "signup-btn" %></li>
  <% end %>
</ul>
